CONFIG_LOCATION=ConfigAddress
DATA_LOCATION=DataAddress
TIMEZONE=Region
OPENVPN_USER=NordUser      #not really needed
OPENVPN_PASSWORD=NordPass  #not really needed
OPENVPN_TOKEN=Token        #not really needed here (used to generate private key)
OPENVPN_PRIVATE_KEY=GeneratedPrivateKey
